---

- hosts: all
  gather_facts: true
  roles:
    - os_config
    - docker
    - ceph
 
        #- name: Generate SSH key pair
        #  hosts: key
        #  tasks:
        #    - name: Generate SSH key pair
        #      openssh_keypair:
        #        path: /root/.ssh/id_rsa 
        #
        #- name: ssh-copy-id from ceph1 to ceph2 and ceph3
        #  hosts: key
        #  tasks: 
        #    - name: Copy public key to hosts
        #      expect:
        #        command: ssh-copy-id root@{{ item }}
        #        responses:
        #          "password": "{{ vm }}"
        #      loop:
        #        - 172.31.112.118
        #        - 172.31.112.119
